ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    padding-left: 0;
}

li {
    background-color: beige;
    display: block;
    float: left;
    width: 25%;
    border: none;
    border-left: 6px solid;
    border-width: medium medium medium 6px;
    
    padding: 5px 10px 5px 26px;
}

div {
    max-width: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}