body {
            background-image: url("https://w.wallhaven.cc/full/xe/wallhaven-xeek7l.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            height: 100vh;
            margin: 0;
        }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 
  
}

.text{
     color:bisque;
     width: 65%;
     font-size: larger;
     font-weight: bolder;
     padding: 20px;
     border: 5px solid;
     border-radius: 20px;
     
  
     
     
}
.text-conatiner{
  padding: 20px;
     border: 5px solid;
     border-radius: 20px;
     color: bisque;

}
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  color:bisque;

}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}