<!doctype html>
<html>
<head>
    <style>
        body {
            background-image: url("https://w.wallhaven.cc/full/qz/wallhaven-qz8w55.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            height: 100vh;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="box.css">
</head>
<body>
    <h1 style = "color:bisque">Testing img background</h1>
    <h1>
    <span id="text"></span><span class="cursor">|</span>
  </h1>
     <script src="script.js"></script>
</body>
</html>
