body{
    color: #82a5ca;
    margin: 0;
   
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    
}

#footer {
    text-shadow: -3px 3px black;
}

#hero{
     background-image: url("/black-hole.gif");
     padding: 10px 0 550px 0;
     background-size: cover;

}

.btn{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}

.underline {
    /*text-decoration: underline;*/
    border-bottom: 4px solid white;
}

/*# is used for id elements as they are unique*/
#main-logo{
    width: 180px;
    height: 30px;
}