<!DOCTYPE html>
<html>
    <head>
    <link rel = "stylesheet" href = "space.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id = "hero">
        <img id = "main-logo" src = "/nasa-logo2.webp" alt = "Nasa logo"/>
        <h1>
            Join the <span class = "underline">exploration</span>
        </h1>
        <button class = "btn">
            Apply!
        </button>
        </div>
        <h1 id = "footer">Terms and Conditions Apply</h1>
    </body>
</html>